@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --blue: #1C63ED;
    --grey: #505968;
    --darkblue: #0b214a;
}

.logo-text {
    font-size: 26px;
    color: var(--blue);
    position: relative;
    left: 16px;
    top: 5px;
    font-weight: bold;
}

#logo-div {
    width: 40px;
    height: 40px;
    background: var(--blue);
    border-radius: 110%;
}

nav {
    padding-top: 14px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}

.searchItems{
    display: flex;
    flex-direction: row;
}

img#search-desktop{
    margin-right: 20px;
    margin-top: 5px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-items {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

ul li.pointer:hover {
    cursor: pointer;
}

li {
    padding: 5px;
    color: var(--grey);
}

.search-icon {
    width: 26px;
}



.sign-btn {
    font-weight: bold;
    color: black;
}

.sign-btn:hover {
    background: #EFEFF2;
    color: black;
}

.tagline-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 110px;
    margin-top: 132px;
    color: var(--darkblue);
}

.tagline {
    margin-top: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.wavy {
    margin-top: 9.25rem;
}

ul li a {
    text-decoration: none;
    color: black;
}

li{
    margin-left: 40px;
    font-size: large;
}

.what-text {
    margin-top: 100px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
}

.caption {
    margin-top: 20px;
    font-size: 56px;
    line-height: 67px;
    font-weight: 700;
}

.caption-ans {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 24px;
    margin-top: 80px;
    margin-left: 29px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 29px;
    width: 600px;
}

button.disc-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    width: 300px;
}

/* discover button css */

.disc-btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}


.sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
}

.text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
}

.disc-btn:hover {
    background: linear-gradient(0deg, #A47CF3, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
}

.disc-btn:hover .text {
    color: white;
}

.disc-btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
}


/* signup css code */

.form-box {
   max-width: 300px;
   background: #f1f7fe;
   overflow: hidden;
   border-radius: 16px;
   color: #010101;
 }
 
 .form {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 32px 24px 24px;
   gap: 16px;
   text-align: center;
 }
 
 /*Form text*/
 .title {
   font-weight: bold;
   font-size: 1.6rem;
 }
 
 .subtitle {
   font-size: 1rem;
   color: #666;
 }
 
 /*Inputs box*/
 .form-container {
   overflow: hidden;
   border-radius: 8px;
   background-color: #fff;
   margin: 1rem 0 .5rem;
   width: 100%;
 }
 
 .input {
   background: none;
   border: 0;
   outline: 0;
   height: 40px;
   width: 100%;
   border-bottom: 1px solid #eee;
   font-size: .9rem;
   padding: 8px 15px;
 }
 
 .form-section {
   padding: 16px;
   font-size: .85rem;
   background-color: #e0ecfb;
   box-shadow: rgb(0 0 0 / 8%) 0 -1px;
 }
 
 .form-section a {
   font-weight: bold;
   color: #0066ff;
   transition: color .3s ease;
 }
 
 .form-section a:hover {
   color: #005ce6;
   text-decoration: underline;
 }
 
 /*Button*/
 .form button {
   background-color: #0066ff;
   color: #fff;
   border: 0;
   border-radius: 24px;
   padding: 10px 16px;
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
   transition: background-color .3s ease;
 }
 
 .form button:hover {
   background-color: #005ce6;
 }

 #signUpBox{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }


/* MOBILE RESPONSIVE CSS CODE GOES HERE */

@media screen and (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
    }

    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        position: relative;
        left: auto;
        top: auto;
    }

    h3.logo-text {
        font-size: 18px;
        margin-top: 5px;
        white-space: nowrap;
    }

    nav ul li {
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 65px;
    }

    ul.link-items {
        font-size: 20px;
        display: none;
    }

    .sign-div {
        display: none;
    }


    .sign-div {
        position: relative;
        left: 0;
        top: 0px;
    }

    img#search-desktop {
        display: block;
    }

    ul li {
        margin-left: auto;
        margin-right: auto;
        display: block;
        justify-content: center;
        text-align: center;
        position: relative;
        left: -80px;
    }

    div.button-items {
        margin-top: 20px;
        position: relative;
        top: 250px;
        left: -280px;
        display: flex;
        flex-direction: column;
    }

    button.btn {
        width: auto;
        white-space: nowrap;
    }

    hr {
        display: none;
    }
}